<li>
	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newdev="{{devoured}}">
		{{#if devoured}}SLEEP TIME!{{else}}DEVOUR IT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>